<div id="outback-home-carousel" class="carousel slide" data-ride="carousel" style="height:500px;">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li ng-repeat="slide in HomeController.slides track by $index" 
            data-target="#outback-home-carousel" 
            data-slide-to="{{ $index }}" 
            class="{{ $first?'active':'' }}"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox" style="height:100%;">
        <div class="item {{ $first?'active':'' }}" 
             ng-repeat="slide in HomeController.slides track by $index"
             style="height:100%; background-image: url('{{ slide.image }}');background-repeat: no-repeat;background-size: cover;">
            <div ng-if="slide.title1 && slide.slogan"
                 class="carousel-caption">
                <div class="carousel-caption-content">
                    <div class="caption-title-1">{{ slide.title1 }}</div>
                    <div class="caption-title-2">{{ slide.title2 }}</div>
                    <div class="caption-slogan">{{ slide.slogan }}</div>
                </div>
                <button class="find-out-button"
                        style="bottom:18px;position:relative;left:200px;z-index:100;">FIND OUT MORE</button>
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#outback-home-carousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    
    <a class="right carousel-control" href="#outback-home-carousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>